@import './../variables'

.newsItem

    &__wrapper
        width: 50%
        margin-left: 25%

    &__bigText
        font-size: 4.615rem
        line-height: 1.166666666666667
        letter-spacing: -.02em
        margin-bottom: 2.692rem
        max-width: 100%
        white-space: nowrap

    &__text
        max-width: 100%

        &--date
            margin-bottom: 6.538rem

    &__sliderWrapper
        position: relative
        margin-bottom: 5.384rem

    &__sliderCounter
        position: absolute
        right: 100%
        top: 0
        margin: 0
        font-size: 1.154rem
        line-height: 1.733333333333333
        width: max-content

    .slick-prev 
        right: -86px

    .slick-next 
        right: -172.5px
    
    